<div class="tasks__content-card task-card">
    <% if task.eyecatch.attached? %>
    <div class="task-card__image">
        <%= image_tag task.eyecatch %>
    </div>
    <% end %>
    <div class="task-card__head">
        <div class="task-card__info">
            <%= link_to board_task_path(task.board,task) do %>
            <h3 class="task-card__title">
                <%= task.title %>
            </h3>
            <div class="task-card__text">
                <%= task.content %>
            </div>
            <% end %>
        </div>
    </div>
    <div class="task-card__body">
        <div class="task-card__author">
            <%= image_tag task.user.avatar_image ,class: 'task-card__author-img' %>
        </div>
    </div>
</div>