<!DOCTYPE html>
<html>

<head>
  <title><%= content_for(:title) || "Todo App" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <header class="header">
    <div class="header__inner">
      <div class="header__logo">
        <a href="#" class="header__logo-link">
          <span class="header__logo-txt">Boards</span>
        </a>
      </div>
      <div class="header__avatar">
        <% if user_signed_in? %>
        <%= image_tag 'avatar-1',class: 'header__avatar-img' %>
        <div class="dropdown">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </div>
        <% elsif !user_signed_in? && !(request.path == new_user_session_path || request.path == user_session_path || request.path == new_user_registration_path) %>
        <%= link_to 'Login', user_session_path ,class: 'header__login'%>
        <% end %>
      </div>
    </div>
  </header>
  <% if flash.present? %>
  <div class="flash">
    <% flash.each do | key,value | %>
    <div class="<%= key %>"><%= value %></div>
    <% end %>
  </div>
  <% end %>
  <main class="main">
    <div class="main__inner">
      <div class="main__content">
        <%= yield %>
      </div>
    </div>
  </main>
</body>

</html>